{% extends 'base.html.twig' %}

{% block title %}Новая запись{% endblock %}

{% block body %}
    <h1>Новая запись</h1>

    {{ include('visit/_form.html.twig') }}

    <a href="{{ path('visit_index') }}">Вернуться назад</a>
{% endblock %}
