{% extends 'base.html.twig' %}

{% block title %}Edit Vet{% endblock %}

{% block body %}
    <h1>Edit Vet</h1>

    {{ include('vet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vet_index') }}">back to list</a>

    {{ include('vet/_delete_form.html.twig') }}
{% endblock %}
