{% extends 'base.html.twig' %}

{% block title %}New Vet{% endblock %}

{% block body %}
    <h1>Create new Vet</h1>

    {{ include('vet/_form.html.twig') }}

    <a href="{{ path('vet_index') }}">back to list</a>
{% endblock %}
